name: Publish to pub.dev

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for authentication using OIDC

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.24.5
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      # - name: Analyze
      #   run: flutter analyze

      # - name: Run tests
      #   run: flutter test

      - name: Publish to pub.dev
        run: dart pub publish --force
